.top-cart {
  height: 400px;
  background-image: url(img/topcart.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cart-heading {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 0%;
  text-align: left;
  padding-top: 127px;
}

.cart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 64px;

  &__name-box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 14px;
  }
  &__name {
    color: $color-title;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    margin-right: 27px;
  }

  &__item {
    border-top: 0.5px solid rgb(202, 205, 216);
    padding-top: 25px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    &_pdg {
      padding-top: 32px;
    }
  }
  &__info {
    width: 276px;
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  &__info-name {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  &__info-info {
    color: rgb(136, 136, 136);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
  }
  &__info-price {
    color: rgb(5, 5, 5);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
  }
  &__link {
    color: $color-title;
    font-size: 14px;
    font-weight: 400;
    line-height: 210%;
    letter-spacing: 0px;
    text-align: center;
    text-decoration-line: underline;
  }
  &__link-box {
    display: flex;
    gap: 30px;
  }
  &__input {
    width: 71px;
    height: 51px;
    left: 837px;
    top: 523px;
    border-radius: 6px;
    background: rgb(247, 246, 246);
    border-color: transparent;
    color: $color-title;
    font-size: 14px;
    font-weight: 600;
    line-height: 210%;
    letter-spacing: 0px;
    text-align: center;
  }
  &__left {
    display: flex;
    gap: 32px;
  }
  &__form {
    border-radius: 20px;
    background: rgb(247, 246, 246);
    height: 556px;
    grid-column: span 4;
  }
  &__form-heading {
    color: $color-title;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;
    padding-top: 42px;
  }
  &__form-info {
    display: flex;
    flex-direction: column;
    gap: 44px;
    padding-top: 35px;
    padding-left: 27px;
    padding-right: 64px;
  }
  &__form-data {
    background: rgb(247, 246, 246);
    border-color: transparent;
    border-bottom: 1px solid rgb(202, 205, 216);
    text-align: left;
    font-family: "Montserrat";
    color: $color-title;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0px;
    outline: none;
  }
  &__form-data::placeholder {
    color: $color-title;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0px;
    font-family: "Montserrat";
  }
  &__summary {
    display: flex;
    gap: 6px;
    padding-top: 64px;
    padding-bottom: 18px;
    justify-content: center;
  }
  &__price1 {
    color: $color-title;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0px;
  }
  &__price2 {
    color: $color-title;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0px;
  }
  &__btn {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    border: 1px solid rgb(4, 4, 4);
    border-radius: 20px;
    color: $color-title;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    width: 290px;
    height: 41px;
    margin-left: 45px;
    margin-right: 44px;
    background-color: rgb(247, 246, 246);
    border-radius: 20px;
    transition: all 0.5s;
  }

  &__content {
    grid-column: span 8;
  }
}

.cart__btn:hover {
  background-color: black;
  color: $color-text;
}

.cart-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
}
.cart__blok {
  display: flex;
  gap: 7px;
}
.cart__botton {
  width: 200px;
  height: 37px;
  border: 1px solid$color-title;
  border-radius: 50px;
  color: rgb(2, 2, 2);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  transition: all 0.5s;
  margin-top: 22px;
}

.cart__botton:hover {
  background-color: black;
  color: $color-text;
}

.cart-catalog {
  margin-top: 32px;
  margin-bottom: 64px;
}
.cart-catalog__link {
  color: $color-title;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}
.cart-catalog__link:hover {
  color: rgb(136, 136, 136);
  text-decoration-line: none;
}

.cart-catalog__mob {
  display: none;
}

.block-cart__title {
  color: $color-title;
  font-size: 48px;
  font-weight: 600;
  line-height: 59px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 32px;
}
.block-cart {
  padding-top: 64px;
}

@import "tablet";
@import "mobile";
