@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }

  .header {
    padding-top: 50px;
    border: none;
    &__input {
      display: none;
    }
  }
  .logo__img-top {
    width: 99px;
    height: 22px;
  }

  .top {
    margin-bottom: 32px;
    &__list {
      display: none;
    }
    &__text {
      font-size: 16px;
      line-height: 32px;
      text-align: center;
    }
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .cart-top {
    display: none;
  }

  .menu {
    &-mob {
      display: flex;
      align-items: center;
      gap: 32px;
    }
  }

  .logo {
    &__img {
      width: 99px;
    }
  }

  .title {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    margin-top: 42px;
  }

  .link {
    font-size: 14px;
  }

  .heading {
    font-size: 24px;
    line-height: 29px;
  }

  .header__list {
    display: none;
  }

  .header__list_mob {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
  }

  .for {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    &__item {
      grid-column: 1 / -1;
      height: 374px;
      font-size: 28px;
      line-height: 34px;
      &_big {
        height: 244px;
      }
    }
  }

  .block {
    padding-top: 32px;
    padding-bottom: 36px;
    &-link {
      margin-top: 36px;
      margin-bottom: 32px;
    }
    &__title {
      padding-left: 0;
      font-size: 24px;
      line-height: 29px;
    }
    &__box {
      row-gap: 34px;
    }
  }

  .product-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }

  .product {
    grid-column: 1 / -1;
    width: 100%;
    margin-top: -2px;

    &__name {
      font-size: 18px;
      line-height: 22px;
      padding-top: 6px;
      padding-bottom: 9px;
    }
    &__text {
      font-size: 14px;
      line-height: 17px;
      padding-bottom: 8px;
    }
    &__sale {
      font-size: 18px;
      line-height: 22px;
    }
    &__price {
      font-size: 18px;
      line-height: 22px;
    }
  }

  .picture__mob {
    object-fit: cover;
    width: 100%;
    height: 226px;
  }

  .picture__img {
    object-fit: cover;
    width: 100%;
    height: 226px;
  }

  .footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 100px;
    &__news {
      padding-left: 0px;
      padding-bottom: 33px;
      padding-top: 4px;
    }
    &__menu-block {
      margin-right: 0;
    }
  }

  .cart-heading {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    padding-top: 94px;
  }

  .cart {
    margin-top: 74px;
    gap: 48px;
    &__name-box {
      display: none;
    }
    &__img {
      display: none;
    }
    &__info {
      &-name {
        font-size: 18px;
        line-height: 22px;
        padding-top: 18px;
      }
      &-info {
        font-size: 12px;
        line-height: 15px;
        margin-top: 8px;
      }
      &-price {
        font-size: 12px;
        line-height: 17px;
        margin-top: 15px;
      }
    }
    &__blok {
      padding-left: 0;
      gap: 14px;
    }
    &__botton {
      width: 166px;
      height: 37px;
      font-size: 12px;
      line-height: 15px;
      margin-top: 26px;
    }
    &__form {
      width: 343px;
      margin-top: 0;
      &-info {
        padding-top: 40px;
        gap: 42px;
      }
    }
    &__btn {
      width: 290px;
      margin-bottom: 43px;
      margin-left: 26px;
    }
    &-catalog {
      margin-bottom: 32px;
      &__link {
        display: none;
      }
      &__mob {
        display: block;
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        text-decoration-line: underline;
      }
    }

    &__item {
      justify-content: flex-start;
      padding-top: 0;
      padding-bottom: 20px;
    }

    &__info {
      gap: 0;
      width: 260px;
      &_info {
        margin-top: 8px;
        margin-bottom: 15px;
      }
      &-mob {
        font-size: 14px;
        line-height: 17px;
      }
    }
    &__link-box {
      margin-top: 15px;
    }
    &__input {
      margin-top: 16px;
      margin-left: 12px;
      padding-right: 24px;
    }
  }

  .block-cart {
    padding-top: 48px;
  }

  .block-cart__title {
    font-size: 24px;
    line-height: 29px;
    width: 250px;
  }

  .cart-box {
    padding-top: 16px;
  }

  .catalog-title {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    padding-top: 94px;
  }

  .catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    &__select {
      margin-top: 14px;
      padding-left: 0;
      display: flex;
      flex-direction: column-reverse;
      gap: 10px;
    }
    &-box {
      padding-top: 32px;
      margin: 0;
      &__article_mob {
        margin-bottom: 14px;
      }
    }
  }

  .nav {
    margin-top: 32px;
    &__index,
    &__new,
    &__catalog {
      font-size: 14px;
    }
  }

  .container {
    padding: 0;
    display: flex;
    justify-content: flex-start;
  }
  .select-catalog1 {
    width: 164px;
  }
  .select-catalog2 {
    width: 203px;
  }

  .select-catalog1,
  .select-catalog2 {
    font-size: 14px;
    line-height: 17px;
    height: 41px;
    padding-left: 19px;
  }

  .filtering {
    left: 0;
    max-width: 287px;
    min-height: 910px;

    &__content {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 32px;
      max-height: 100%;
      min-width: 190px;
    }
    &__button {
      align-self: start;
    }
  }

  .more {
    margin-bottom: 32px;
  }
}
